<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block css '' %}
    <title>{% block page_title '' %} | Fregata Dashboard</title>
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('fregata_dashboard') }}">
                <h3 class="title is-4 has-text-light">FREGATA</h3>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="menu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('fregata_run_history') }}">
                    Run history
                </a>

                <a class="navbar-item" href="{{ path('fregata_migration_list') }}">
                    Migrations
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href="{{ path('fregata_run_new') }}">
                            <span class="icon"><i class="fa-solid fa-play"></i></span>
                            <span>New run</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block body '' %}
    {% block js '' %}
</body>
</html>