<div class="tags has-addons are-medium">
    {# @var migration \Fregata\FregataBundle\Doctrine\Migration\MigrationEntity #}
    {% if migration.status is same as('CREATED') %}
        <span class="tag">
            <i class="fa-solid fa-circle-dot fa-fade"></i>
        </span>
        <span class="tag is-dark">Created</span>
    {% elseif migration.status is same as('BEFORE_TASKS') %}
        <span class="tag is-info is-light">
            <i class="fa-solid fa-gear fa-spin"></i>
        </span>
        <span class="tag is-info">Before tasks</span>
    {% elseif migration.status is same as('CORE_BEFORE_TASKS') %}
        <span class="tag is-dark">
            <i class="fa-solid fa-gear fa-spin"></i>
        </span>
        <span class="tag is-info">Core before tasks</span>
    {% elseif migration.status is same as('MIGRATORS') %}
        <span class="tag is-primary is-light">
            <i class="fa-solid fa-truck-fast fa-fade"></i>
        </span>
        <span class="tag is-primary">Migrators</span>
    {% elseif migration.status is same as('CORE_AFTER_TASKS') %}
        <span class="tag is-dark">
            <i class="fa-solid fa-gear fa-spin"></i>
        </span>
        <span class="tag is-info">Core after tasks</span>
    {% elseif migration.status is same as('AFTER_TASKS') %}
        <span class="tag is-info is-light">
            <i class="fa-solid fa-gear fa-spin"></i>
        </span>
        <span class="tag is-info">After tasks</span>
    {% elseif migration.status is same as('FINISHED') %}
        <span class="tag is-success is-light">
            <i class="fa-solid fa-circle-check"></i>
        </span>
        <span class="tag is-success">Finished</span>
    {% elseif migration.status is same as('FAILURE') %}
        <span class="tag is-danger is-light">
            <i class="fa-solid fa-circle-xmark"></i>
        </span>
        <span class="tag is-danger">Failure</span>
    {% elseif migration.status is same as('CANCELED') %}
        <span class="tag is-warning is-light">
            <i class="fa-solid fa-ban"></i>
        </span>
        <span class="tag is-warning">Canceled</span>
    {% endif %}
</div>